In [1]:
conda install -c conda-forge imbalanced-learn

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\Admin\anaconda3

  added / updated specs:
    - imbalanced-learn


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-22.11.1              |   py39hcbf5309_1         908 KB  conda-forge
    imbalanced-learn-0.10.1    |     pyhd8ed1ab_0         131 KB  conda-forge
    python_abi-3.9             |           2_cp39           4 KB  conda-forge
    ruamel.yaml-0.17.21        |   py39hb82d6ee_1         169 KB  conda-forge
    ruamel.yaml.clib-0.2.6     |   py39h2bbff1b_1         101 KB
    ------------------------------------------------------------
                                           Total:         1.3 MB

The following NEW packages will be INSTALLED:

  imbalanced-learn   conda-forge/noarch::imbalanced-learn-0.10.1-pyhd8ed1ab_0 None
  python_abi         conda-forge/win-64::python_abi-3.9-2_cp39 None
  ruamel.yaml        conda-forge/win-64::ruamel.yaml-0.17.21-py39hb82d6ee_1 None
  ruamel.yaml.clib   pkgs/main/win-64::ruamel.yaml.clib-0.2.6-py39h2bbff1b_1 None

The following packages will be UPDATED:

  conda              pkgs/main::conda-22.9.0-py39haa95532_0 --> conda-forge::conda-22.11.1-py39hcbf5309_1 None



Downloading and Extracting Packages

conda-22.11.1        | 908 KB    |            |   0%
conda-22.11.1        | 908 KB    | 1          |   2%
conda-22.11.1        | 908 KB    | #######4   |  74%
conda-22.11.1        | 908 KB    | ########## | 100%

ruamel.yaml-0.17.21  | 169 KB    |            |   0%
ruamel.yaml-0.17.21  | 169 KB    | ########## | 100%
ruamel.yaml-0.17.21  | 169 KB    | ########## | 100%

python_abi-3.9       | 4 KB      |            |   0%
python_abi-3.9       | 4 KB      | ########## | 100%

imbalanced-learn-0.1 | 131 KB    |            |   0%
imbalanced-learn-0.1 | 131 KB    | ########## | 100%
imbalanced-learn-0.1 | 131 KB    | ########## | 100%

ruamel.yaml.clib-0.2 | 101 KB    |            |   0%
ruamel.yaml.clib-0.2 | 101 KB    | ########## | 100%
ruamel.yaml.clib-0.2 | 101 KB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done
Retrieving notices: ...working... done

Note: you may need to restart the kernel to use updated packages.

==> WARNING: A newer version of conda exists. <==
  current version: 22.9.0
  latest version: 22.11.1

Please update conda by running

    $ conda update -n base -c defaults conda

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns

from imblearn.over_sampling import SMOTE

from sklearn.preprocessing import StandardScaler
from sklearn.metrics import roc_auc_score, roc_curve, classification_report, accuracy_score, confusion_matrix, precision_score, recall_score, roc_auc_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC, LinearSVC

In [14]:
#set display max column to see all column
pd.set_option("display.max_columns", None)
pd.get_option("display.max_columns")

#set display max column to see all column
pd.set_option("display.max_rows", 150)
pd.get_option("display.max_rows")

150

In [16]:
app_train = pd.read_csv(r'C:\Users\Admin\Documents\GitHub\CreditRiskML\data/german.csv')

In [17]:
app_train.tail()

,Creditability,Account_Balance,Duration_of_Credit_monthly,Payment_Status_of_Previous_Credit,Purpose,Credit_Amount,Value_Savings_Stocks,Length_of_current_employment,Instalment_per_cent,Sex_Marital_Status,Guarantors,Duration_in_Current_address,Most_valuable_available_asset,Age_years,Concurrent_Credits,Type_of_apartment,No_of_Credits_at_this_Bank,Occupation,No_of_dependents,Telephone,Foreign_Worker
995,0,1,24,2,3,1987,1,3,2,3,1,4,1,21,3,1,1,2,2,1,1
996,0,1,24,2,0,2303,1,5,4,3,2,1,1,45,3,2,1,3,1,1,1
997,0,4,21,4,0,12680,5,5,4,3,1,4,4,30,3,3,1,4,1,2,1
998,0,2,12,2,3,6468,5,1,2,3,1,1,4,52,3,2,1,4,1,2,1
999,0,1,30,2,2,6350,5,5,4,3,1,4,2,31,3,2,1,3,1,1,1